<div class='col-md-4 col-md-offset-4'>
	<h2 class='page-header'>Create a New Classroom</h2>
</div>

<div class='col-md-4 col-md-offset-4 well well-secondary'>
	<%= form_for @classroom do |f| %>
		<div class="form-group">
				<%= f.label :name, "Classroom Name" %>
				<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.submit "Edit Classroom", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
