<h1> Teachers Dashboard </h1>

<%= link_to "Create Classroom", new_classroom_path %>
</br>
<%= link_to "Create Quiz", new_quiz_path %>

<% @classrooms.each do |classroom| %>
	<%= classroom.name %>
<% end %>