/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_theme
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: asset-url('blue.jpg') repeat;
}

.race-grid {
	width: 90%;
	margin: 0 auto;
	border: 5px solid #000;
	min-height: 500px;
}

.grid-row {
	width: 100%;
	height: 50px;
	border: 1px solid #000;
	transition: background-color 1s ease;
}
.grid-col {
	float: left;
	height: 500px;
	width: 50px;
	border: 1px solid #000;
}